/* Combinaciones de colores */

.primary {
  background: var(--primary);
  color: var(--onprimary);
}

.secondary {
  background: var(--secondary);
  color: var(--onsecondary);
}

.tertiary {
  background: var(--tertiary);
  color: var(--ontertiary);
}

.page {
  background: var(--page);
  color: var(--onpage);
}

/* Aplicar en todas partes */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; /* El relleno y el borde no aumentan el tamaño del cuadro*/
}

html,
body {
  width: 100%;
  margin: 0rem auto;
  background: var(--page);
  color: var(--onpage);
  font: var(--body-font);
  min-height: 100vh; /*Llenar la página con el contenido para situar el pie de página en la parte inferior*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* añada una imagen de fondo al body*/

body {
  /*background-image: url('nombre.jpg');*/ /* Elimine y cambie el nombre del archivo para añadir la imagen de fondo */
  /*background-repeat: repeat;*/ /* Hace que la imagen se repita */
  /*background-size: cover;*/ /* Hace que la imagen cubra todo el contenedor */
}

/* El contenido principal de la página entre el encabezado y el pie de página */
main {
  background: var(--primary); /*Colorea el fondo*/
  color: var(--onprimary); /* Colorea el texto */
  margin: 0 auto; /* Centra si el navegador web es muy ancho */
  min-width: 25rem; /* No permite que se estreche demasiado el contenido */
  max-width: 70rem; /* No permite que el contenido sea demasiado ancho */
  padding: 0;
  padding-top: 0.5rem; /* Relleno en la parte superior */
  margin-bottom: 1em; /* Espacio antes del pie de página */
}

/* Estilos de elementos de encabezado y pie de página */

header,
footer {
  text-align: center;
  width: 100%; /* Llena todo el ancho de la ventana */
  margin: 0; /* Remueve el margen por defecto*/
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Estilos de sección */

section {
  padding: 1rem 2rem;
  margin: 1rem auto;
}

/* Estilos de borde */

.border-bottom {
  border-bottom: 20px solid var(--detail); /* Agrega un sólido */
}

.border-top {
  border-top: 10px solid var(--detail2); /* Agrega una línea sólida encima del pie de página */
}

/* Añade un efecto de transparencia*/

.transparent {
  opacity: 0.95;
}

/* Estilos sólo para elementos h1 */

h1 {
  font: var(--header-font); /* Estilo de fuente almacenado en la variable de fuente del encabezado */
  padding: 2rem;
  margin: 0; /* Centrar si el navegador web es muy ancho */
}

/* Estilos sólo para elementos h2 */

h2 {
  font: var(--title-font); /* Estilo de fuente almacenado en la variable de fuente de título */
  text-align: center; /*Alinea el texto */
  padding: 1.5rem; /* Añade algo de espacio alrededor del encabezado */
}

/* Resalta las palabras clave en negrita y aplica un color de texto alternativo */

strong {
  color: var(--detail2); /* Color del texto almacenado en la variable del titulo */
  font-weight: bold; /* Hace que el grosor del texto sea más fuerte que el predeterminado*/
}

/* Estilo para listas ordenadas y desordenadas */

ol,
ul {
  display: inline-block;
  text-align: left;
  padding-left: 2rem;
}

/* Relleno alrededor de los párrafos */

p {
  padding: 1rem 1rem;
}

/* Estilo para enlaces */

a:link,
a:visited {
  font-weight: bold;
  color: inherit; /* Usa el color del elemento padre */
}

.xcenter {
  text-align: center;
}

.ycenter {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* Estilos sólo para la clase .wrap */

.wrap {
  /* Hacer que el contenido se ajuste a varias filas */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 0rem 0rem; /* espacio horizontal y vertical */ 
}

/* Para crear cajas elegantes */

.dashed-border {
  border: 0.25rem dashed var(--detail2);
}

.solid-border {
  border: 0.25rem solid var(--detail2);
}

/* Estilos para las etiquetas div que están dentro de una clase .wrap */

.wrap > div {
  width: 14rem;
  padding: 0rem;
}

/* Estilos para las etiquetas img que están dentro de una clase .wrap */

.wrap > img {
  width: 14rem;
  display: block;
}

/* Estilos para las etiquetas p que están dentro de una clase .wrap */

.wrap > p,
.wrap > span {
  width: 14rem;
  display: block;
}

/* Estilos específicos para este proyecto */

.bigfont {
  font-size: 3rem;
}

.hugefont {
  /* Se usa para hacer un emoji de mayor tamaño */
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
}

.wrap .narrow {
  width: 10rem;
}

.wrap .wide {
  width: 20rem;
}

blockquote {
  font: var(--quote-font);
  color: var(--detail);
  text-align: center;
  padding: 0rem;
  max-width: 25rem;
}

cite {
  color: var(--detail);
  font-size: small;
}

/* Estilos específicos para este proyecto */

.tile {
  height: 9.4rem;
}

.rounded {
  border-radius: 1rem;
}

.gradient1 {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--detail)
  );
  color: var(--onsecondary);
}

.gradient2 {
  background-image: linear-gradient(
    to top right,
    var(--tertiary),
    var(--detail2)
  );
  color: var(--ontertiary);
}

.shadow {
   box-shadow: 5px 5px 3px 0px #888888; /* tamaño, desenfoque, extensión y color de las sombras derecha e inferior */
   /*box-shadow: 5px 5px 4px 2px var(--detail);*/
}

.wrap .card {
  width: 12rem;
  height: 12rem;
  border: 0.1rem solid transparent;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 60rem;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card p {
  padding: 0.5rem;
}

/* Estilo de fotografía impresa */

.photo {
  border: 1px solid #D0D0D0; /* Agrega un borde sólido */
  width: 14rem;
  height: 15rem;
  background: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  box-shadow: 8px 8px 10px 4px #888888; /* sombra, desenfoque, extensión y color de las sombras derecha e inferior */
  transform: rotate(3deg);
}