/* Parowanie kolorów */

.primary {
  background: var(--primary);
  color: var(--onprimary);
}

.secondary {
  background: var(--secondary);
  color: var(--onsecondary);
}

.tertiary {
  background: var(--tertiary);
  color: var(--ontertiary);
}

.page {
  background: var(--page);
  color: var(--onpage);
}

/* Zastosuj wszędzie */

* {
  margin: 0rem;
  padding: 0rem;
  Rozmiar pudełka: Border-box; /* Wykładziny i obramowanie nie powodują, że pudełko jest większe */
}

html,
body {
  width: 100%;
  margin: 0rem auto;
  background: var(--page);
  color: var(--onpage);
  font: var(--body-font);
  Min-height: 100vh; /* spraw, aby zawartość wypełniała stronę tak, aby stopka była u dołu */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* dodaj obraz tła do obiektu */

body {
  /*background-image: url('name.jpg');*/ /* Odkomentuj i zmień nazwę pliku, aby dodać obraz tła */
  /*background-repeat: Powtórz;*/ /* Zrób powtórzenie obrazu */
  /*background-size: Okładka;*/ /* spraw, aby obraz pokrywał cały pojemnik */
}

/* Główna zawartość strony pomiędzy nagłówkiem a stopką */
main {
  Tło: var(--primary); /* Kolor tła */
  Kolor: var(--onprimary); /* Koloruj tekst */
  Margines: 0 auto; /* środek jeśli przeglądarka jest naprawdę szeroka */
  Min-width: 25rem; /* nie pozwól, aby zawartość stała się zbyt wąska */
  max-width: 70rem; /* nie pozwól, aby zawartość stała się zbyt szeroka */
  padding: 0;
  Wypełnienie-top: 0.5rem; /* Wyściełaczka na górze */
  Margines-dół: 1em; /* Odstęp przed stopą */
}

/* Style elementów nagłówka i stopki */

header,
footer {
  text-align: center;
  Szerokość: 100%; /* Wypełnij pełną szerokość okna */
  Margines: 0; /* Usuń domyślny margines */
  min-height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Style sekcji */

section {
  padding: 1rem 2rem;
  margin: 1rem auto;
}

/* Style obramowania */

.border-bottom {
  Border-bottom: 20px solid var(--detail); /* Dodaj bryłę */
}

.border-top {
  Border-top: 10px solid var(--detail2); /* Dodaj stałą linię nad stopą */
}

/* Dodaj przezroczysty efekt */

.transparent {
  opacity: 0.95;
}

/* Style tylko dla elementów h1 */

h1 {
  Font: var(--header-font); /* Styl czcionki zapisany w zmiennej header-font */
  padding: 2rem;
  Margines: 0; /* Centrum jeśli przeglądarka jest naprawdę szeroka */
}

/* Style tylko dla elementów h2 */

h2 {
  Font: var(--title-font); /* Styl czcionki zapisany w zmiennej title-font */
  Wyrównanie tekstu: W lewo; /* Wyrównaj tekst */
  Wypełnienie: 1.5rem; /* Dodaj trochę miejsca wokół nagłówka */
}

/* podświetl słowa kluczowe pogrubioną czcionką i zastosuj alternatywny kolor tekstu */

strong {
  Kolor: var(--detail2); /* Kolor tekstu zapisany w zmiennej podpisu */
  Font-weight: Pogrubiony; /* sprawia, że waga tekstu jest silniejsza niż domyślna*/
}

/* Style dla list uporządkowanych i nieuporządkowanych */

ol,
ul {
  display: inline-block;
  text-align: left;
  padding-left: 2rem;
}

/* Wypełnianie wokół akapitów */

p {
  padding: 1rem 1rem;
}

/* Styl linków */

a:link,
a:visited {
  font-weight: bold;
  Kolor: Dziedzicz; /* Użyj koloru elementu rodzica */
}

.xcenter {
  text-align: center;
}

.ycenter {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/* Style tylko dla klasy .wrap */

.wrap {
  /* spraw, aby zawartość zawijała się po wielu wierszach */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  przerwa: 0rem 0rem; /* szczelina pozioma i pionowa */ 
}

/* do tworzenia fantazyjnych pudełek */

.dashed-border {
  border: 0.25rem dashed var(--detail2);
}

.solid-border {
  border: 0.25rem solid var(--detail2);
}

/* Style znaczników div, które znajdują się wewnątrz klasy .wrap */

.wrap > div {
  width: 14rem;
  padding: 0rem;
}

/* Style znaczników img, które znajdują się wewnątrz klasy .wrap */

.wrap > img {
  width: 14rem;
  display: block;
}

/* Style znaczników p, które znajdują się wewnątrz klasy .wrap */

.wrap > p,
.wrap > span {
  width: 14rem;
  display: block;
}

/* specyficzne style dla tego projektu */

.bigfont {
  font-size: 3rem;
}

.hugefont {
  /* używane do tworzenia dużych emoji */
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
}

.wrap .narrow {
  width: 10rem;
}

.wrap .wide {
  width: 20rem;
}

blockquote {
  font: var(--quote-font);
  color: var(--detail);
  text-align: center;
  padding: 0rem;
  max-width: 25rem;
}

cite {
  color: var(--detail);
  font-size: small;
}

/* specyficzne style dla tego projektu */

.tile {
  height: 9.4rem;
}

.rounded {
  border-radius: 1rem;
}

.gradient1 {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary),
    var(--detail)
  );
  color: var(--onsecondary);
}

.gradient2 {
  background-image: linear-gradient(
    to top right,
    var(--tertiary),
    var(--detail2)
  );
  color: var(--ontertiary);
}

.shadow {
   box-shadow: 5px 5px 3px 0px #888888; /* rozmiar cienia prawy i dolny, rozmycie, rozłożenie i kolor */
   /*box-shadow: 5px 5px 4px 2px var(--detail);*/
}

.wrap .card {
  width: 12rem;
  height: 12rem;
  border: 0.1rem solid transparent;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 60rem;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card p {
  padding: 0.5rem;
}

/* Wydrukowany styl fotografii */

.photo {
  Obramowanie: 1px bryła #D0D0D0; /* Dodaj bryłową obramowanie */
  width: 14rem;
  height: 15rem;
  background: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  box-shadow: 8px 8px 10px 4px #888888; /* prawy i dolny cień, rozmycie, rozłożenie i kolor */
  transform: rotate(3deg);
}
